  @doc """
  Returns an `%Ecto.Changeset{}` for tracking <%= @schema.singular %> changes.
  """
  def change(<%= @schema.singular %>_opts \\ %{}, changeset_name) when is_map(<%= @schema.singular %>_opts) do
    %<%= @schema.module %>{}
    |> Map.merge(<%= @schema.singular %>_opts)
    |> <%= @schema.module %>.changeset(%{}, changeset_name)
  end
